{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="homepage">

    <section class="banner">
        <div>
            <h1>Trouvez le domaine de ski de vos rêves</h1>
            <p>Retrouvez toutes les informations des stations et domaines skiables de France, accessible en quelques cliques.</p>
        </div>
    </section>


    <section class="domaines">
        <h1>Les Domaines de France</h1>

        <div class="domaine">
            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/bg-img/homepage.jpg') }}');">
                <h1>domaine 1</h1>
            </div>
            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/bg-img/homepage.jpg') }}');">
                <h1>domaine 1</h1>
            </div>
            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/bg-img/homepage.jpg') }}');">
                <h1>domaine 1</h1>
            </div>
            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/bg-img/homepage.jpg') }}');">
                <h1>domaine 1</h1>
            </div>
            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/bg-img/homepage.jpg') }}');">
                <h1>domaine 1</h1>
            </div>
            <div class="card-domaine" style="background-image: url('{{ asset('assets/images/bg-img/homepage.jpg') }}');">
                <h1>domaine 1</h1>
            </div>
        </div>
    </section>

    <section class="avis">
            {% for review in reviews %}

                {% include 'partial/review.html.twig' with {
                    review: review.review,
                    firstName: review.firstName,
                    lastName: review.lastName,
                } %}
            {% endfor %}
    </section>

    <section class="formulaire">

        <div class="text">
            <h1>Laissez nous un avis</h1>
            <p>Si vous avez aimé notre site, laissez nous un avis :) </p>
        </div>

        {% include "partial/form.html.twig" %}
    </section>


</div>
{% endblock %}
