{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(registrationForm, {'attr': {'class': 'register'}}) }}
        <h1 class="register__title">Register</h1>
        <div>
            {{ form_row(registrationForm.roles) }}
        </div>
        <div>
            {{ form_row(registrationForm.email) }}
        </div>
        <div>
            {{ form_row(registrationForm.password, {
                label: 'Password'
            }) }}
        </div>

        <button type="submit" class="btn">Register</button>
        <p>Alrready have an account ? <a href="{{ path('app_login') }}">Signin</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
