<div class="station-card">
    <div class="station-pic">
        <a href="{{ url }}">{{ name }}</a>
    </div>
    <div class="station-description">
        <a href="{{ url }}">{{ name }}</a>
        <p>{{ description }}</p>
    </div>
    <img src="{{ asset(logo, 'source') }}" alt="logo de la station">
</div>