{% extends 'base.html.twig' %}

{% block title %}Nos Stations{% endblock %}

{% block body %}

<div class="station">
    <img src="{{ asset('assets/images/stations_top.png') }}" alt="">
    <div class="overlay"></div>
    <div class="content">
        <h2>Trouvez la station de ski de vos rêves</h2>
        <p>Retrouvez toutes les informations des stations et domaines skiables de France, accessible en quelques cliques.</p>
    </div>
</div>
<main class="station">

    <h1>Les stations de france</h1>

    <ul class="stations">
        {% for station in stations %}
            <li class="station">
                <div class="station__view">
                    <img src="/uploads/stations/{{ station.image }}" alt="">
                    <h4>{{ station.name }}</h4>
                </div>
                <div class="station__main">
                    <div class="station__content">
                        <h4><a href="/station/{{ station.id }}">{{ station.name }} <span>({{ station.domain }})</span></a></h4>
                        <p>{{ station.description }}</p>
                    </div>
                    <img src="/uploads/stations/{{ station.logo }}" alt="logo {{ station.name }}"  class="station__logo">
                </div>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
