<div class="form">
    {{ form_start(reviewForm) }}
        <div class="names">
                {{ form_row(reviewForm.lastName) }}
                {{ form_row(reviewForm.firstName) }}
        </div>
        <div class="textavis">
                {{ form_row(reviewForm.review) }}
        </div>

        <button type="submit">Publier</button>
    {{ form_end(reviewForm) }}
</div>